body{
    background:black;
}


h1{
    background: rgb(43, 43, 43);
    text-align: center;
}
h2{
    background: rgb(43, 43, 43);
    text-align: justify;
}
a{
    color: aquamarine;
}
a:hover{
    color: coral;
}
*{
    color: aliceblue;
}
#it{
    font-style: italic;
}
#ne{
    font-weight: bold ;
}

.google-sans {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}
ul{
      font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}
ol{
      font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}
#cen{
    text-align: center;
}
#underlinedouble{
            text-decoration: underline double;
            text-decoration-line: underline;
    }